
@model List<VoiceOfTwitch.Models.Channel>
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                Here you will be able to find meta data about the channel that is being monitored. 
                There should also be a link to the channel.<br/>
                For instance: 
                <a href="http://twitch.tv/beyondthesummit" title="BeyondTheSummit">BeyondTheSummit</a>.<br/>
                I would also like to present number of viewers and how long the monitoring has been in action.
            </p>
        </div>
    </section>
}
<h3>Channels:</h3>
@foreach (var channel in Model)
{
    <ol class="round">
        <li class="exclamation">
            <h5 class="statement">
            @Html.ActionLink(@channel.name,"Livedata","Statements",new {channel = channel.name},null)
            </h5>
        </li>
    </ol>
}
